/* .banner-info,
.banner-image,
.banner-info2 {
    flex-grow: 1;
     flex-basis: 0;
    align-items: stretch; 
} */

.banner {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #CCC ;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-banner .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #515151;
    height: 600px;
    margin-top: 4em;
}

.hero-banner .container h1 {
    font-weight: 300;
}

.hero-banner .container p {
    font-family: "PT Sans";
    margin-top: 1em;
    width: 64ch;
}

/* .hero-banner .container {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
} */

/* BannerImage */

.hero-banner img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

.banner-image {
    text-align: center;
    align-self: end;
    position: relative;
}

.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 2em;
    width: 400px;
}

.banner-info2 {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.banner-info #name {
    font-weight: 400;
}

.banner-info #name-info {
    font-weight: 300;
}

.red-text {
    color: #CCC;
}

.banner-info h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.banner-info h2 {
    font-weight: 300;
}

.banner-info2 h1 {
    font-weight: 300;
    font-size: 2.5em;
}

/* .hero-banner .container .banner-info,
.hero-banner .container .banner-image,
.hero-banner .container .banner-info2 {
    flex-grow: 1;
    text-align: center;
} */

/* .banner-image {
    width: 400px;
    height: auto; 
    overflow: hidden;
} */

@media (max-width: 1400px) {

    .banner-image {
        /* width: 400px; */
        height: 100;
    }

    .hero-banner img {
        width: 450px;
        height: auto;
    }

    .banner-info h1 {
        font-size: 2em;
    }
    
    .banner-info h2 {
        font-weight: 300;
    }
    
    .banner-info2 h1 {
        font-size: 2em;
    }

    .hero-banner .container {
        height: 550px;
        margin-top: 0;
    }
}


@media (max-width: 1120px) {

    /* .banner-image {
        width: 400px;
        height: auto;
    } */

    .hero-banner img {
        width: 350px;
    }

    .banner-info h1 {
        font-size: 1.5em;
    }
    
    .banner-info h2 {
        font-size: 1em;
    }

    .banner-info {
        position: relative;
        align-self: center;
        bottom: -15%;
        width: 200px;
    }
    
    .banner-info2 {
        position: relative;
        align-self: center;
        bottom: -15%;
        width: 200px
    }

    .banner-info2 h1 {
        font-size: 1.5em;
    }

    .hero-banner .container {
        height: 500px;
        margin-top: -5em;
    }
}

@media (max-width: 716px) {

    .hero-banner .container {
        flex-direction: column;
        /* height: 1000px; */
        /* margin-top: 3em; */
        margin: 3em 0;
        height: 600px;
        /* align-items: center; */
    }

    .banner-info {
        width: 300px;
        bottom: 0;
    }
    
    .banner-info2 {
        width: 300px;
        height: 100px;
        bottom: -10%
    }

    .banner-image {
        align-self: center;
        margin: 2em 0 -2em 0;
    }
    
    .hero-banner img {
        width: 300px;
        /* display: none; */
        }

        .banner-info h1 {
            font-size: 2em;
        }
        
        .banner-info h2 {
            font-size: 1.5em;
        }
    
        .banner-info2 h1 {
            font-size: 2em;
        }
}